.folder-actions {
  border-bottom: 1px solid $manager-border-color;
  background-color: $img-bg-color;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  .list {
    margin: 0;
    list-style-type: none;
    padding: 0;
    height: 90px;

    > li {
      display: table-cell;
      border-right: 1px solid $manager-border-color;
      white-space: nowrap;
    }
  }

  .action-vertical, .action-horizontal {
    display: inline-block;
    margin: 5px;
    padding: 5px;

    &:hover {
      outline: 1px solid transparentize($link-color, .5);
      background-color: transparentize($link-color, .9);
    }

    &.disabled {
      opacity: .5;
      cursor: default;
      color: $text-color;

      &:hover {
        outline: none;
        background-color: transparent;
      }
    }
  }

  .actions-horizontal {
    display: inline-block;
    vertical-align: top;

    .action-horizontal {
      display: block;
      margin: 3px 5px 0 0;
      padding: 0 5px 0 0;

      img {
        display: inline-block;
        width: 18px;
        height: 18px;
      }
    }
  }

  .action-vertical {
    text-align: center;

    img {
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto;
    }
  }
}