.manager-item-wrapper {

  height: 154px;
  padding: 10px 10px 5px 10px;

  &.active {
    background-color: transparentize($link-color, .9);
    outline: 1px solid transparentize($link-color, .5);
  }

  &:hover {
    background-color: transparentize($link-color, .9);
  }

  .img-wrapper {
    height: 100px;
    overflow: hidden;
    width: 100%;

    .manager-img {
      margin: 0 auto;
    }
  }

  .item-footer {
    height: 39px;
    padding: 10px 30px 0 0;
    position: relative;
    width: 100%;

    &.error {
      color: $brand-danger;
    }

    .text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .rename input {
      width: 100%;
    }


    .md-menu {
      position: absolute;
      right: -10px;
      bottom: -9px;

      .md-icon-button.md-button {
        padding: 5px;
        margin: 0;

        .crip-menu-icon {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}

.crip-menu-item-icon {
  height: 30px;
  width: 30px;
}