.dir-container {
  .dir-item {
    position: relative;
    height: 174px;

    &:hover {
      .box {
        bottom: 69px;
      }
    }

    .item-link {
      background-color: $panel-default-heading-bg;
      height: 100px;
      cursor: pointer;
      overflow: hidden;
      .img-responsive {
        margin: 0 auto;
      }
    }

    .box, .box-under {
      text-align: center;
      background-color: $popover-bg;
      height: 44px;
      padding: 12px;
      margin: 0;
      overflow: hidden;
    }

    .box {
      -webkit-transition: all 0.37s ease-in-out;
      -moz-transition: all 0.37s ease-in-out;
      -o-transition: all 0.37s ease-in-out;
      -ms-transition: all 0.37s ease-in-out;
      transition: all 0.37s ease-in-out;

      position: absolute;
      bottom: 25px;
      left: 20px;
      right: 20px;
      cursor: pointer;

      .ellipsis {
        margin: 0;
        padding: 0;
        white-space: nowrap;
      }
    }

    .box-under {
      -webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);

      .rename {
        margin: -6px;
      }

      .actions .action {
        padding: 3px;

        &:hover {
          -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
        }

        .btn-img {
          width: 20px;
          height: 20px;
          display: inline;
        }
      }
    }
  }
}
