.manager-item-wrapper {

  height: 154px;
  overflow: hidden;
  padding: 10px 10px 5px 10px;

  &.active {
    background-color: transparentize($link-color, .9);
    outline: 1px solid transparentize($link-color, .5);
  }

  &:hover {
    background-color: transparentize($link-color, .9);
  }

  .img-wrapper {
    height: 100px;
    overflow: hidden;
    width: 100%;

    .manager-img {
      margin: 0 auto;
    }
  }

  .item-footer {
    height: 39px;
    overflow: hidden;
    padding: 10px 10px 0 10px;
    width: 100%;

    &.error {
      color: $brand-danger;
    }

    .text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .rename input {
      width: 100%;
    }
  }

}