.sidebar-content {
  font-size: 16px;
  position: relative;

  .expand-container {
    padding-right: 0;

    .expand {
      width: 16px;
      display: inline-block;
      cursor: pointer;
      padding: 1px 0 2px 0;
      font-size: 13px;

      &:hover {
        color: $brand-primary;
      }
    }
  }

  .folder-list-item {
    cursor: pointer;
    margin: 0;

    .bg-container {
      transition: all ease .37s;
    }

    &:hover .bg-container{
      background-color: $btn-primary-bg;
    }

    .bg-container {
      position: absolute;
      left: -($grid-gutter-width/2);
      right: -($grid-gutter-width/2);
      height: 25px;
      z-index: -1;
      opacity: .15;
    }

    .folder {
      padding: 2px 0 4px 5px;
      margin: 0;
    }
  }
}

