.uploader-container {
  position: relative;
  padding-top: $padding-base-vertical;
  padding-bottom: $padding-base-vertical;
  padding-left: $uploader-padding-left;

  .upload-item .progress {
    margin-bottom: 0;
  }

  .list-container {
    position: absolute;
    left: 0;
    right: 0;
    top: ($grid-gutter-width + $padding-base-vertical);
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.97);
    padding: 0 $padding-base-horizontal $padding-base-vertical $padding-base-vertical;
    margin-left: $uploader-padding-left - ($grid-gutter-width/2);
    border: 1px solid $modal-content-border-color;
    border-top: none;
    -webkit-box-shadow: 0 10px 30px 0 rgba(85, 85, 85, 0.5);
    -moz-box-shadow: 0 10px 30px 0 rgba(85, 85, 85, 0.5);
    box-shadow: 0 10px 30px 0 rgba(85, 85, 85, 0.5);
  }
}