
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,700&subset=latin,cyrillic);


/*CUSTOMIZE BOOTSTRAP VARIABLES*/
$text-color: #536e7a;
$link-hover-color: #0273d4;
$link-hover-decoration: none;
$help-color: #afbec5;
$body-bg: #eceff1;
$icon-font-path: '/vendor/crip/filemanager/fonts/bootstrap/';
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$border-radius-base: 0;

/*BOOTSTRAP VARIABLES*/
@import '../../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';


// #loading-bar
$loading-bar-color: $brand-primary;

// Manager
$img-bg-color: #efefef;
$manager-border-color: #CFD8DC;
