/*BOOTSTRAP VARIABLES*/
@import '../../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

/*CUSTOMIZE BOOTSTRAP VARIABLES*/
$body-bg: #f7f7f7;
$icon-font-path: '/vendor/tahq69/scriptfilemanager/fonts/bootstrap/';

// #loading-bar
$loading-bar-color: $brand-primary;

// uploader
$uploader-padding-left: 35px;